# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today

:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>

### Int & Float Assignments

##### Assigning int

In [369]:
print("Hello World")

TypeError: 'str' object is not callable

In [ ]:
# Variable_name = value
# Pythin Standard Naming Conevetion - all lowercase - snake_case

my_number = 5 # Assign the value 5 for the variable my_number

print(my_number) # Print the value for my_number variable
print(type(my_number)) # Print the datatype for my_number variable

In [ ]:
another_number = 123

print(another_number)
print(type(another_number))

##### Assinging float

In [ ]:
my_float_number = 5.67

print(my_float_number)
print(type(my_float_number))

In [ ]:
# The decimal (.) that is doing the heavy lifting - tells Python that is a float

another_float = 6

print(another_float)
print(type(another_float))

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
# Use the plus operator (+)

num1 = 43
num2 = 21

# int + int -> int
# int + float -> float
# float + float -> float

result = num1 + num2

print(result)
print(type(result))

In [ ]:
num1 = 2
num2 = 5

result = num1 + num2

result += 15 # result + 15

print(result)

In [ ]:
x = 10

x += 5 # x = x + 5

print(x)

##### Subtraction

In [ ]:
# Use the minus operator (-)

difference = num1 - num2 
print(difference)
print(type(difference))

# Assignment operator (-=)

difference -= 5 # differecne = difference - 5
print(difference)

##### Multiplication

In [ ]:
# Uses the asterisk or start (*)

product = 12 * 7

print(product)
print(type(product))


# Assignment operator (*=)

product *= 2 # product = product * 2

print(product)

##### Division

In [ ]:
# Use the forward slash (/)

# ALWAYS RESULTS IN A FLOAT

num3 = 50 
num4 = 5

quotient = num3 / num4

print(quotient)
print(type(quotient))

#Assignment operator (/=)
quotient /= 4 #quotient = quotient /4

print(quotient)

##### Floor Division

In [ ]:
# Sometimes also reffered to as Integer Divisiom 

# Floor is defined as the highest integer that is less than or equal to the value

result_normal = 15/4 
print(result_normal)

# Use the double slash (//)
result_floor = 15 // 4
print(result_floor)


# Assignment operator (//=)

result_floor //= 2 # result_floor = result_floor //2
print(result_floor)

##### Modulo

In [ ]:
# Use the percent operator (%)
# will return the REMAINDER of a division problem

num5 = 58
num6 = 5

result_mod = num5 % num6
print(result_mod)

#Assignment Operator (%=)
result_mod %= 2 # result_mod = result_mod % 2
print(result_mod)

In [ ]:
# determining if a number is even or odd

# If a number is even, number % 2 == 0 
# If a number is odd, number % 2 != 0 

some_number = 56

print(some_number % 2)

##### Exponential

In [ ]:
# Use the double-asterik (**)


num7 = 5 
num8 = 4

exponent = num7 ** num8
print(exponent)

#Assignment operator (**=)

exponent **= 2  # exponent = exponent **2
print(exponent)

### String Input-Output

##### String Assignment

In [ ]:
# variable_name = 'string' - quotation marks (" or ') tell Python that it is a string

first_name = 'Kadeeja'

print(first_name)
print(type(first_name))

In [ ]:
# Quotation marks are necessary! 

wrong = astring

# Python thinks that we are setting a variable 'wrong' equal to what the value for 
# the variable 'astring' does not exist

In [372]:
first_name = "Kadeeja"
me = first_name

print(me)

TypeError: 'str' object is not callable

##### Escape Characters

In [ ]:
contraction1 = ("You can\'t do that")
print(contraction1)

In [ ]:
contraction2 = ('You can't do that)
print(contraction2)

In [ ]:
#backslash before quotation - read it literally
contraction3 = 'You can\'t do that'
print(contraction3)

In [373]:
quote1 = 'He said, "how are you?"'
print(quote1)

TypeError: 'str' object is not callable

In [ ]:
quote2 = "He daid, \"How are you?\""
print(quote2)

In [ ]:
#Backslash allows us to write the string on multiple lines and still be read as one line 
long_string ='Hello how are you \
doing today?'

print(long_string)

In [ ]:
# \n - new line character 
multi_line = "Hello\nHow are you?"
print(multi_line)

In [ ]:
# \t - tab character 
tabbed = 'Hello\tworld'
print(tabbed)

In [ ]:
letter = "Dear Friend, \n\tI hope you are doing well."
print(letter)

Triple Coated String

In [ ]:
#string that starts and ends with 3 quotations (single or double)
#Read line spacing literally

triple_again ='''This is the first line
This is the second line
And this is the final line'''

print(triple_again)

In [ ]:
# Raw String - start with r before the quoation marks (r'') or (r""")
# Read string literally - special charachters are not special

raw_string = r"Dear Friend,\n\tI hope you are doing well."
print(raw_string)

In [ ]:
string_number = '123'

print(string_number)
print(type(string_number))

##### String Concatenation

In [ ]:
first = 'John'
last = 'Smith'

#Plus operator (+) between two string -> reurn a NEW string with the two string combined
full = first + ' ' + last
print(full)

# += works for strings too! 
full += ', Jr.' #full = full + ' , Jr.'
print(full)

In [ ]:
num_a = 10  #integer
num_b ='10' #string

num_c = num_a + num_b
print(num_c)

##### Type Conversion

In [ ]:
print(num_a, type(num_a))
print(num_b, type(num_b))

In [ ]:
# To convert, pass the value into the buit-in type function (usually the name of the class)-> will return a new object
# str for string, int for integers, float for floats, ect.

num_a_as_int = int(num_a)
print(num_a_as_int)
print(type(num_a_as_int))

# Creates new variable and object -> original value does not change
print(num_a, type(num_a))

In [ ]:
num_c = int(num_a) + num_b
print(num_c)

In [ ]:
city = 'Chicago'

city_int = int(city)

In [ ]:
pi = '3.14'

f_pi = float(pi)

print(f_pi)

In [ ]:
string_123 = str(123)
print(string_123, type(string_123))

##### .format() and f-strings

In [ ]:
help(str.format)

In [ ]:
first_name = 'Tom'
last_name = 'Brady'
city = 'San Francisco'
age = 47

intro_text = "Hello, my name {} {} and I am {} years old and I am from {}" .format(first_name, last_name, age, city)

print(intro_text)

In [ ]:
# f-string - another way of formatting a string -> used curly braces with a variable name in them
# and a lowercase f before the string (f'') or (f""")

intro_text2 = f"Hello, my name is {first_name} and I am {age} years old and I am from {city}" 

print(intro_text2)

In [ ]:
# .format and f-string allows us to run expression for format our string

add_age1 = f"Hello, I am {first_name.upper()} and in 5 years I will be {age + 5}"
print(add_age1)

add_age2 = "Hello, I am {} and in 5 years I will be {}" .format(first_name.upper(), age + 5)
print(add_age2)

##### Old Way (python 2)

In [ ]:
first_name = 'John'
city = 'New York'

print(f"Hello my name is %s and I am from %s" % (first_name, city))

In [ ]:
result = 10 + 5 

print(f"The result is %i" % result)

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [ ]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

year_i = int(year)
year_i = year_i + 1

what_drive = "I drive a {} {} {} {}" .format(color, make, year, model)
print(what_drive)

my_car = "I drive a {} {} {} {}" .format(color, int(year) +1, make, model)

In [ ]:
my_car2 = f"I drive a {color} {int(year + 1)} {make} {model}"
print(my_car2)

### Booleans

In [ ]:
bool_true = True
print(bool_true)
print(type(bool_true))

In [ ]:

bool_false = False 
print(bool_false)
print(type(bool_false))

### If Statements

In [ ]:
# if <expression>:  <expression> must result in a boolean (True or False) or object with (Truthy/Falsy) value
#     <statement>

#INDENTATION MATTERS
# ALL lines that arre indented under the if statment will only run if the expression is true 

if True: 
    print('Hello this is a statement that is being run because the If evaluated to Ture')

In [ ]:
if False:
    print('Hello this is another statememnt that will print if evaluated to True')

In [ ]:
print('Start code...')

if True:
    print('Hello')
    print('How are you?')

print('End code..')

In [ ]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)
# Return value is a Boolean (True or False)

num1 = 10
num2 = 5 
num3 = 2

print(num1 > num2)
print(num2 < num3)
print(num1 == num2 * num3)
print(num1 >= num2 * num3)
print(num1 != num2 * num3)

In [ ]:
if num1 > num2: #True 
    print(f"{num1} is greater that {num2}")

if num2 < num3: #False
    print(f"{num2} is less than {num3}")

if num1 >= num2 * num3: #True
    print(f"{num1} is greater than or equal to {num2} times {num3}")

## Using 'and'/'or' with If Statements

In [ ]:
# Truth Tree for OR:
# T or T = T
# T or F = T
# F or T = T
# F or F = F

# To pass through to the next round, a students needs at lease a 2.5 GPA or at least a 25 ACT

potential_candidate_gpa = 1.0
potential_candidate_act = 16

# Logic for passing a student 
if potential_candidate_gpa >= 2.5 or potential_candidate_act >= 25:
    print('Student meets minimum requirements. Move on to the next round...')
else:
    print('Reject student...')

In [ ]:
# Truth Tree for AND
# T and T = T
# T and F = F
# F and T = F
# F and F = F

# To pass through to the next round, a students needs at lease a 2.5 GPA or at least a 25 ACT

potential_candidate_gpa = 4.0
potential_candidate_act = 36

# Logic for passing a student 
if potential_candidate_gpa >= 2.5 and potential_candidate_act >= 25:
    print('Student meets minimum requirements. Move on to the next round...')
else:
    print('Reject student...')

In [ ]:
number = 5 

if number == 1 or number == 7:
    print('The number is 1 or 7')
else:
    print(f"Not 1 or 7, the number is {number}")

In [ ]:
number = 10

### Else Statements

In [ ]:
# An else statement runs when the if statement DIRECTLY above it evaluates to False

age = 44

if age >= 35:
    print('You are eligible to run for president')

if age >= 18:
    print('You are eligible to vote')
else:
    print('You are still too young to vote')

### Elif Statements

In [ ]:
# An elif only runs when the if (or elif) directly above it evaluates to False

#Pretend we are checking tickets for a movie theatre for an R-Rated movie
#If the movie goer is above 18, just say thanks and enjoy the show
#If the movie goer is above 14, check if they have a parent with them, can see if so
#no movie goers under 14 or under 18 wihtout a parent 

# rules for entry 
required_age = 18
with_parent_age = 14

#Customer Info
customer_age = 15
has_parent = False

if customer_age >= required_age:
    print('Thanks and enjoy the show!')

elif customer_age >= with_parent_age and has_parent:
    print('Cool, enjoy the movie with the folks!')

elif customer_age >= with_parent_age and not has_parent:
    print('You are old enough to see with a parent, but I do not see one here.')

else:
    print('You cannot see this film until you are older.')

In [ ]:
age = 10 
if age < 18: 
    drink_choice = 'toddy'
elif age < 21:
    drink_choice = 'coke'
elif age < 50:
    drink_choice = 'beer'
else:
    drink_choice = 'whiskey'

    
print(f"Drink{drink_choice}")

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [ ]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
person_age = 47 # Output: Your ticket is $10
#person_age = 8 # Output: Your ticket is $5.00

if person_age < 10:
    ticket *= .5 # ticket = ticket * .5
elif person_age >= 65:
    ticket *= (1-.25)

print(f"Your ticket is ${ticket:.2f}") # :.2f will add two decimals

### Lists

##### Declaring Lists

In [ ]:
# Ordered collection of data; indexable, mutable, iterable, elements of the list can be of any dtat type
list_1 =[] # Empty list declaration

print(list_1)
print(type(list_1))

In [ ]:
names = ['Dan', 'Catherine', 'William', 'Laura', 'Hannah', 'Jack']
print(names)
print(type(names))

##### Indexing a List

In [ ]:
# [start: stop: step] 
# 0-based index (indices will always start at 0 -> Length of list -1)
#Makes a copy, original list is unaffected 

#single element - list_var[index]
print(names[3])

# Negative numbers start from the back of the list 
print(names[-2])

#Slicing a list -> grabbing part of a list 

#slice the list from the 2nd element to the end (leave the stop empty will default to the end of the list)
print(names[1:])

#Slice the lost form teh 2nd element to teh 5th element
print(names[1:5])

#Slice from the beginning of the list to teh 4th element (leave start emoty to start at beginning)
print(names[:4])

print(names)

#Slice the whole list - an easy way to make a copy of the list 
print(names[:])

# Slice every other element in the list
print(names[::2])

#Negatice steps will walk backwards through the list - an easy way to reversed copy of a list
print(names[::-1])

#combo time!
print(names[1:5:2])

In [ ]:
# Lists are mutable - means you can change the values using item assignment
# item assignment - list-var[Index] = value

print(names)

names[2] = 'Billy'

print(names)

In [ ]:
# Strings are IMMUTABLE 
# But they are indexable

my_string = 'Hello World'
print(my_string)

print(my_string[0])

my_string[0] = 'J'
print(my_string)

##### .append()

In [ ]:
# list_var.append(value) -> Add the balue to the end of the list 

print(names)

names.append('Sarah')

##### .insert()

In [ ]:
# list_var.insert(index,value) -> Add the value at the index and shift everything afte to the right 1 index

print(names)

names.insert(2, 'Julian')

print(names)

##### .pop()

In [ ]:

# list_var.pop() -> If no argument, pop removed and returns the last element of the list

print(names)

last_element = names.pop()

print(f"The element that was removed: {last_element}")




# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable


##### .remove()

In [ ]:
# value to be removed, not index
# list_var.remove(value) -> will remove the FIRST insatnce of that value

names.remove('Billy')

print(names)

In [ ]:
# list_var.pop(index) -> will remove the element at index and return that itemaa

In [ ]:
# value to be removed , not index

##### del()

In [ ]:
# del list_var[index]
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

print(names)

del names[2]

print(names)

##### Concatenating Two Lists

In [ ]:
# Plus operator (+) between two list will append two list together, not add up the elements of each list

list_a = [1, 2, 3, 4]
list_b = [5, 6, 7, 8]

list_c = list_a + list_b

print(list_c)

# will append two lists together, not add up the elements in each list

##### Lists Within Lists

In [ ]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

list_of_list = [[1, 2, 3, 4, 5 ,6][7, 8, 9]]

### For Loops

In [ ]:
# for <keyword> in <iterable>:
#     <statement>

##### Continue Statement

In [ ]:
# will continue to next iteration

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Nested/Double For Loops

### While Loops

In [ ]:
# while <conditional>:
#     <statement to run while condition is true>

from random import randint

random_number = randint(1,10)
while random_number !=5:
    print(random_number)
    random_number = randint(1,10)

print(f'The final result:{random_number}')

##### Looping 'While True'

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
list_num = []
# while loop

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

if 10 > 1000:
    print('Hello')

else:
    print('Goodbye')

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>